<div class="pt-4 md:pt-16">
  <% if alert = flash[:alert] %>
    <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
  <% end %>

  <% if notice = flash[:notice] %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="card md:w-3/5">
    <h1 class="font-bold text-4xl">Iniciar sesión</h1>

    <%= form_with url: session_url, class: "contents" do |form| %>
      <div class="my-5">
        <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Correo electrónico", value: params[:email_address], class: "block shadow-sm rounded-lg border border-gray-400 px-4 py-2 mt-2 w-full flex-1 bg-white text-gray-700 placeholder-gray-400 text-base focus:outline-none focus:ring-2 focus:ring-fuchsia-600 focus:border-transparent" %>
      </div>

      <div class="my-5">
        <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Contraseña", maxlength: 72, class: "block shadow-sm rounded-lg border border-gray-400 px-4 py-2 mt-2 w-full flex-1 bg-white text-gray-700 placeholder-gray-400 text-base focus:outline-none focus:ring-2 focus:ring-fuchsia-600 focus:border-transparent" %>
      </div>

      <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
        <%= form.submit "Iniciar sesión", class: "rounded-lg py-2 px-4 bg-fuchsia-600 text-white font-medium cursor-pointer flex-shrink-0 text-base font-semibold shadow-md hover:bg-fuchsia-700 focus:outline-none focus:ring-2 focus:ring-fuchsia-500 focus:ring-offset-2 focus:ring-offset-purple-200" %>
        <div class="mt-4 text-sm text-gray-500 sm:mt-0">
          <%= link_to "¿Olvidaste tu contraseña?", new_password_path, class: "text-gray-700 underline" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
