<%= form_with(model: recipe, class: "contents") do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(recipe.errors.count, "error") %> hizo que no se pueda guardar.</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title, 'Nombre', class: 'label' %>
    <%= form.text_field :title, class: "input mt-2 w-full", placeholder: 'Qué receta es' %>
  </div>

  <div class="my-5">
    <%= form.label :category, 'Categoría', class: 'label'%>
    <%= form.select :category, options_for_select(Recipe.categories.map {|c| [c[0].capitalize, c[0]]}, recipe.category), { prompt: 'A qué categoría pertenece' }, class: 'input mt-2 w-full'%>
  </div>

  <div class="my-5">
    <%= form.label :ingredients, 'Ingredientes', class: 'label' %>
    <%= form.richer_text_area :ingredients, placeholder: "Ingrese los ingredientes", class: "w-full flex-1 appearance-none text-gray-700 placeholder-gray-400 text-base min-h-40", tables: true %>
  </div>

  <div class="my-5">
    <%= form.label :steps, 'Preparación', class: 'label mb-2' %>
    <%= form.richer_text_area :steps, placeholder: "Paso a paso", class: "w-full flex-1 appearance-none text-gray-700 placeholder-gray-400 text-base min-h-64 prose" %>
  </div>

  <div class="inline">
    <%= form.submit 'Guardar', class: "inline-block btn-primary" %>
  </div>
<% end %>
