<div class="relative z-10">
  <div class="flex items-start justify-between mb-4 md:mb-12 header">
    <div class="title text-start">
      <%= phosphor_icon('newspaper', class: 'hidden md:block text-cyan-700', width: '64', height: '64')%>
      <h1 class="text-gray-900 font-bold text-2xl md:text-5xl">Curaduría de recetas por <span class="text-fuchsia-700">Vero</span></h1>
    </div>
  </div>

  <div class="flex justify-center w-full">
    <%= form_with model: false, url: recipes_path, method: :get, data: { turbo_action: "replace", turbo_permanent: "", controller: 'filter' }, class: 'flex gap-3 w-full md:w-1/2' do |f| %>
      <%= f.search_field :query,
        placeholder: 'Buscar por nombre o categoría',
        autocomplete: 'off',
        value: params[:query],
        data: { filter_target: 'input', action: 'filter#submit' },
        class: 'w-full md:!w-[400px] input' %>
      <%= f.submit "Buscar", class: "btn-primary" %>
    <% end %>
  </div>

  <% if @recipes.present? %>
    <div class="grid grid-cols-1 mt-4 md:mt-16" id="recipes">
      <%= render @recipes %>
    </div>

    <% if @pagy.next.present? %>
      <%= turbo_frame_tag :next_page, src: recipes_path(page: @pagy.next, query: params[:query], format: :turbo_stream), loading: :lazy, class: 'flex justify-center' do %>
        <div class="text-center">
          <div role="status">
            <%= phosphor_icon('spinner-gap', class: 'inline w-8 h-8 text-gray-200 animate-spin fill-fuchsia-600')%>
          </div>
          <span class="sr-only">Loading...</span>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="w-full flex items-center mt-4">
      <div>
        <h2 class="text-2xl font-semibold">Ups! No encontramos nada</h2>
        <p class="text-md mt-2 text-wrap">
          El Monstruo de las Galletas pasó por aquí y se llevó todos los resultados... Prueba con otra búsqueda o echa un vistazo a nuestras recetas destacadas.
        </p>
      </div>
      <%= image_tag 'cookie_monster.png', size: '20%' %>
    </div>
  <% end %>
</div>
