<% content_for :title, "Recetas" %>

<div class="relative pt-4 md:pt-16 ml-auto z-10">
  <div class="flex items-end justify-between mb-12 header">
    <div class="title">
      <%= phosphor_icon('newspaper', class: 'hidden md:block w-12 h-12 text-cyan-700')%>
      <p class="text-4xl font-bold text-gray-800">
        Curaduría de recetas por <span class="text-fuchsia-700 text-5xl">Vero</span>
      </p>
    </div>

    <% if authenticated? %>
      <%= link_to "Nueva receta", new_recipe_path, class: "rounded-lg py-3 px-5 bg-fuchsia-800 text-white block font-medium" %>
    <% end %>
  </div>
  <div class="w-full justify-center flex">
    <div class="flex space-x-3">
      <%= form_with model: false, url: recipes_path, method: :get, data: { turbo_action: "replace", turbo_permanent: "", controller: 'filter' } do |f| %>
        <%= f.search_field :query,
          placeholder: 'Buscar por nombre o categoría',
          autocomplete: 'off',
          value: params[:query],
          data: { filter_target: 'input', action: 'filter#submit' },
          class: 'w-72 rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-2/3 py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-fuchsia-600 focus:border-transparent' %>
        <%= f.submit "Buscar", class: "flex-shrink-0 px-4 py-2 text-base font-semibold text-white bg-fuchsia-600 rounded-lg shadow-md hover:bg-fuchsia-700 focus:outline-none focus:ring-2 focus:ring-fuchsia-500 focus:ring-offset-2 focus:ring-offset-purple-200" %>
      <% end %>
    </div>
  </div>

  <% if @recipes.present? %>
    <div class="grid grid-cols-1 gap-3 md:gap-6 mt-4 md:mt-16" id="recipes">
      <%= render @recipes %>
    </div>

    <% if @pagy.next.present? %>
      <%= turbo_frame_tag :next_page, src: recipes_path(page: @pagy.next, query: params[:query], format: :turbo_stream), loading: :lazy, class: 'flex justify-center' do %>
        <div class="text-center">
          <div role="status">
            <%= phosphor_icon('spinner-gap', class: 'inline w-8 h-8 text-gray-200 animate-spin fill-fuchsia-600')%>
          </div>
          <span class="sr-only">Loading...</span>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="w-full flex items-center mt-4 md:mt-16">
      <div class="w-3/5">
        <h2 class="text-2xl font-semibold">Ups! No encontramos nada</h2>
        <p class="text-md mt-2 text-wrap">
          El Monstruo de las Galletas pasó por aquí y se llevó todos los resultados... ¡pero no te preocupes! Prueba con otra búsqueda o echa un vistazo a nuestras recetas destacadas. Seguro que encuentras algo para devorar (¡prometemos tener más que solo galletas! 😉).
        </p>
      </div>
      <%= image_tag 'cookie_monster.png', size: '30%' %>
    </div>
  <% end %>
</div>
