<% content_for :title, @recipe.title %>
<%= content_for(:back_button_url, recipes_path) %>

<div class="card w-full">
  <div class="flex items-center justify-between">
    <p class="font-medium text-cyan-700 flex items-center gap-1 mb-2">
      <%= phosphor_icon(category_icon(@recipe.category), class: 'h-5 w-5')%>
      <%= @recipe.category&.capitalize %>
    </p>

    <div class="actions flex gap-3 items-center">
      <%= tag.button phosphor_icon('share-network', class: 'h-5 w-5'), data: {
        controller: 'share',
        share_title_value: @recipe.title,
        share_url_value: recipe_url(@recipe),
        action: 'share#click' } %>

      <% if authenticated? %>
        <%= link_to phosphor_icon('pencil-simple', class: 'h-5 w-5'), edit_recipe_path(@recipe) %>
        <%= button_to phosphor_icon('trash', class: 'h-5 w-5 text-red-600'), @recipe, method: :delete, class: 'flex items-center', data: { turbo: false } %>
      <% end %>
    </div>
  </div>

  <h1 class="text-4xl font-bold text-gray-800 mb-4">
    <%= @recipe.title %>
  </h1>

  <h2 class="text-2xl font-medium text-gray-700">Ingredientes</h2>
  <p class="prose mb-4"><%= @recipe.ingredients %></p>

  <h2 class="text-2xl font-medium text-gray-700">Preparación</h2>
  <p class="prose"><%= @recipe.steps %></p>
</div>
